name: testing CI/CD

on:
  push:
    branches:
     - staging 

jobs:
  build-deploy:
    name: build testing
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: action/checkout@v2
      - name: setup java
        uses: action/setup-java@v2
        with:
          distribution: 'corretto'
          java-version: 17

      - name: login to docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build, tag, and push image to DockerHub
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          IMAGE_NAME: my-image
        run: |
          docker build -t $DOCKERHUB_USERNAME/$IMAGE_NAME .
          docker push $DOCKERHUB_USERNAME/$IMAGE_NAME:latest
